/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  background: var(--primary);
  color: #fff;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 30px; /* Increase border-radius for a more rounded look */
  font-size: 16px; /* Adjust the font size as needed */
  text-align: center;
  text-decoration: none; /* Remove underlines if it's a link */
  border: 2px solid var(--primary); /* Add a border */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition on hover */

  /* Center the text vertically and horizontally */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  

  cursor: pointer;
}

/* Add a hover effect */
.btn:hover {
  background: #fff;
  color: var(--primary);
}

/* CSS */
.footer {
  position: fixed; /* Fixed positioning to keep it at the bottom */
  bottom: 0; /* Position it at the bottom */
  left: 0; /* Optionally, you can use "right: 0;" to center it horizontally */
  width: 100%; /* Make it stretch the full width */
  text-align: center; /* Center-align the content inside the footer */
  /* background-color: #333; Set a background color */
  /* color: #0f0e0e; Set text color to white */
  padding: 10px; /* Add some padding for better visual appearance */
}

.footer:hover{
  /* background: #e93939; */
  color: grey;
  cursor: pointer;
}

.footer a{
  text-decoration: none;
  color: black;
}

.container {
  
  position: relative;

}

.container p{
  position: absolute;
  bottom: 0;
  left: 0;
 font-size: x-small;;
  margin-left: 28px;

}

.norecord {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 150px;
  font-size: larger;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  margin-bottom: 5px;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.workouts-container {
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
}


@media screen and (max-width: 768px) {
  .workouts-container {
    max-height: 200px;
     /* Adjust max height for smaller screens */
    /* Add any other responsive styles as needed */
  }
}

@media screen and (max-width: 480px) {
  .workouts-container {
    max-height: 200px; /* Further adjust max height for even smaller screens */
    /* Add any other responsive styles as needed */
  }
}


.workouts-container::-webkit-scrollbar {
  width: 3px; /* Set a thinner width for the scrollbar */
}

.workouts-container::-webkit-scrollbar-thumb {
  background-color: var(--primary); 
  border-radius: 5px; 
}

.workouts-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 5px; 

}

/* Optional: Hide scrollbar on Firefox */
.workouts-container {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #f1f1f1;
}



@media screen and (max-width: 768px) {
  .username {
    font-size: 16px; /* Adjust font size for smaller screens */
    /* Add any other responsive styles as needed */
  }
}

@media screen and (max-width: 480px) {
  .username {
    font-size: 14px; /* Further adjust font size for even smaller screens */
    /* Add any other responsive styles as needed */
  }
}

@media screen and (max-width: 768px) {
  .profile-pic {
    width: 40px; /* Adjust width for smaller screens */
    height: 40px; /* Adjust height for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .profile-pic {
    width: 30px; /* Further adjust width for even smaller screens */
    height: 30px; /* Further adjust height for even smaller screens */
  }
}


@media screen and (max-width: 768px) {
  .norecord {
    height: 80px; /* Adjust height for smaller screens */
    margin-top: 150px; /* Adjust margin top for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .norecord {
    height: 60px; /* Further adjust height for smaller screens */
    margin-top: 100px; /* Further adjust margin top for smaller screens */
  }
}


/* Default styles */

/* Add your default styles here */
/* Responsive styles */
@media screen and (max-width: 1024px) {
  .container p {
    font-size: small; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .home {
    display: block; /* Change from grid to block layout */
  }
  .workout-details {
    margin: 20px auto;
    width: 80%; /* Adjust width */
  }
  .workout-details span {
    top: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .workout-details {
    width: 90%; /* Adjust width */
  }
  .container p {
    margin-left: 10px; /* Adjust margin for smaller screens */
  }
}

@media screen and (max-width: 320px) {
  .workout-details {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 8px; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .btn {
    padding: 6px 12px; /* Further adjust padding for even smaller screens */
    font-size: 8px; /* Further adjust font size for even smaller screens */
  }
}